@import '../main.scss';

h1{
    font-size: 2rem;
}

.content{
    .container{
        position: relative;
        z-index: 5;
    }

    canvas{
        z-index: 1;
        position: absolute;
        top: 0;
    }
}

section#hero{
    height: 500px;
    color: $white;

    background: {
        image: url($folder-img + 'particles.jpg');
        repeat: no-repeat;
        size: contain;
    }
}