section#work{
    background-color: $super-dark;
    padding: 3em 0;
    overflow: hidden;

    &::before, &::after{
        content: "";
        position: absolute;
        top: -301px;
        height: 370px;
        background: white;
        border: 1px solid white;
    }

    &::before{
        left:0;
        right: 50%;
        transform: skewY(10deg);
    }

    &::after{
        left:50%;
        right: 0;
        transform: skewY(-10deg);
    }

    .title{
        text-align: center;
        // margin: 0;
    }

    .work-outer{

        width: 100%;
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: hidden;

        .center{
            width: 1000px;
            max-width: 100%;
            margin: auto;
        }

        .work-group{

            width: 100%;
            display: inline-block;
            position: relative;
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s all;
            

            article{

                position: relative;

                .work-title{
                    color: $aqua;
                    font-size: 3rem;
                    margin: 0;
                    position: absolute;
                }

                img{
                    width: 80%;
                }
            }

            .article-left{

                margin-bottom: 10rem;

                .work-title{
                    text-align: left;
                    left: 70%;
                    bottom: 20px;
                }

                img{

                }
            }

            .article-right{


                .work-title{
                    text-align: right;
                    right: 70%;
                    top: 20px;
                }

                img{
                    float: right;
                }
            }

            @media (max-width: $breakpoint-tablet){
                article{
                    .work-title{
                        position: relative;
                        @include reset-position();
                    }

                    img{
                        width: 100%;
                        float: none;
                    }
                }
            }

        }
    }








    .work-paginator > *{
        // display: inline;
        // float: left;
    }

    .work-paginator{

        display: flex;
        position: relative;

        &::after{
            content: '';
            display: block;
            height: 0.2em;
            background: white;
            position: absolute;
            left: 3%;
            right: 3%;
            top: 47%;
        }

        [class^="icon-"], [class*=" icon-"]{
            font-size: 3.9rem;
            cursor: pointer;
            position: relative;
        }

        .icon-arrow-left{
            float: left;
        }

        .icon-arrow-right{
            float: right;
        }

        ul{
            margin: 0 auto;
            margin-top: -0.7em;
            
            li.selected{
                a{
                    color: $aqua;
                    text-decoration: underline;
                }
            }

            li{

                display: inline;
                margin: 0 2em;

                a{
                    font-size: 2rem;
                    color: $blue;

                    &:hover {
                        color: $aqua;
                        text-decoration: underline;
                    }
                }

            }

        }

        @media (max-width: $breakpoint-mobile){
            &::after{
                left: 10%;
                right: 10%;
            }
        }
        
    }

}