$nav-opacity: 0.9;
$nav-ul-width: 200px;

header#top{
    width: 100%;
    position: fixed;
    z-index: 100000;

    nav.items{
        
        height: 57px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 20px;
        // background: $dark;
        background: inherit;
        opacity: 1;
        
       

        ul{
            padding: 0;
            transition: ease-in-out .5s all;
        }

        ul li a{
            transition: ease-in-out .7s right;
            position: relative;
            color: $white;
            display: inline-block;
            font-size: 1.1rem;
            min-width: 70px;
            text-align: center;

            &:hover{
                color: $aqua;
            }
        }

        .nav-toggle{
            width: 50px;
            height: 50px;
            transition: ease .5s background;
            opacity: $nav-opacity;

            display: none;


            span, span::before, span::after{
                content: '';

            transition: ease .5s all;
                position: relative;

                height: 8px;
                width: 30px;

                background-color: $aqua;
                display: block;

                border-radius: 1em;
                user-select: none;
            }

            span{
                top: 22px;
                left: 4px;

                &::before{
                    top: -12px;
                    width: 40px;
                }

                &::after{
                    bottom: -4px;
                    width: 35px;
                }
            }
        }//.nav-toggle

        .nav-toggle.is-open{

            // margin-right: -$nav-ul-width;
            // padding-right: $nav-ul-width;

            background: $blue;

            span, span::before, span::after{
                width: 40px !important;
            }

            span{

                background-color: transparent;

                &::before{
                    transform: rotate(45deg);
                    top: -1px;
                }

                &::after{
                    transform: translateY(-10px) rotate(-45deg);
                    
                    bottom: -1px;
                }
            }
        }

    }//.nav-items

    // Reset js styles
    @media (min-width: $breakpoint-mobile){
        nav.items{

            transition: ease .8s background;

            ul{
                width: inherit !important;

                li a{
                    right: 0 !important;
                }
            }
        }

        nav.items.nav-bg{
            background: $blue;
            opacity: 0.8;
        }
       
    }

    @media (max-width: $breakpoint-tablet){
        nav.items{
            ul li a{
                // font-size: 1.8rem;
                // width: 3.8em;
            }
        }
    }

    // media header#top
    @media (max-width: $breakpoint-mobile){

        nav.items{
            padding: 0;
        
            align-items: flex-start;

            ul{

                display: flex;
                justify-content: center;
                align-items: center;
                background: $blue;
                
                width: 0;
                height: 100vh;
                
                margin:0;
                opacity: $nav-opacity;

                li{
                    width: 100%;
                }
            }

            ul li a{
                display: block;
                height: 50px;
                line-height: 50px;
                font-size: 2.5rem;
                width: 100%;
            }

            .nav-toggle{
                display: block;
            }
        }//nav-items

    }//media header#top

}//header#top