// ******************************
// *---------- COLORS ----------*
// ******************************

$super-dark: #1C1D21;
$dark: #31353D; // background
$navy: #445878; // h2 
$blue: #0062ff; // small list \ email \ box
$aqua: #92CDCF; // button \ canvas effect \ first section desc \ work name
$grey: #EEEFF7; // nav \ small text function
$white: #FFFFFF; // background \ first section header

$all-colors: ($dark, $navy, $blue, $aqua, $grey, $white);

// ******************************
// *------- BREAKPOINTS --------*
// ******************************

$breakpoint-desktop : 1200px;
$breakpoint-laptop  : 958px;
$breakpoint-tablet  : 768px;
$breakpoint-mobile  : 480px;

// *----------------------*
// *--------PATHS---------*
// *----------------------*

$folder-img: '/img/';