:root{
    font-size: 16px;
    
    // background: black;
    // @media screen and (max-width: $breakpoint-laptop){
        
    // }

    // @media screen and (max-width: $breakpoint-tablet){
    //     font-size: 12px;
    // }

    @media screen and (max-width: $breakpoint-mobile){
        font-size: 12px;
    }

    @media screen and (max-width: 350px){
        font-size: 10px;
    }
}

html, body{
    margin: 0;
    padding: 0;
    // overflow: auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin-top: 0;
    font-weight: 300;

    
}

*{
    &::selection{
        background: #d20708;
        color:$white;
    }
}

h1, h2, h3, h4, h5, h6{
    line-height: 5rem;
}

h2{
    font-size: 5.5rem;
}

p{
    font-size: 1.3rem;
    line-height: 2.2rem;
}

ul{
    padding: 0;
    margin:0;
}

canvas{
    border: 0;
}

img{
    width: 100%;
    // height: 100%;
}

a{
    text-decoration: none;

    &:hover{
        color: $blue;
    }
}

ul{
    list-style: none;
}

.show{
    display: block !important;
}



.wrapper{
    max-width: 90%;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

section{
    position: relative;

    &::after{
        clear: both;
        content: "";
        display: block;
    }
}

section .title{
    color: $navy;
    position: relative;
    z-index: 2;

    @media (max-width: $breakpoint-tablet){
        text-align: center;
    }
}

section canvas{
    position: absolute;
    top: 0;
    z-index: -1;
}